<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="CodeAnalysis">
      <section name="RecursiveAnalyser" type="CodeAnalysis.Classes.ConfigSection.RecursiveAnalyserSection, CodeAnalysis" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <CodeAnalysis>
    <RecursiveAnalyser MaxRecursionDepth="10">
      <Documented>
        <add from="" to="" />
      </Documented>
    </RecursiveAnalyser>
  </CodeAnalysis>
</configuration>